body {
  font-family: 'PingFangSC', sans-serif;
}
.normalFontFace {
  font-family: 'PingFangSC', sans-serif;
}
/* 设置 h1-h6 标签使用 PingFangSC.ttf 字体 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PingFangSC', sans-serif;
}
/* 设置 p 标签使用 PingFangSC.ttf 字体 */
p {
  font-family: 'PingFangSC', sans-serif;
}
/* 设置 a 标签使用 PingFangSC.ttf 字体 */
a {
  font-family: 'PingFangSC', sans-serif;
}
/* 设置 strong 标签使用 PingFangSC.ttf 字体 */
strong {
  font-family: 'PingFangSC', sans-serif;
}
/* 设置 em 标签使用 PingFangSC.ttf 字体 */
em {
  font-family: 'PingFangSC', sans-serif;
}
html.light {
  --color: #7a7374;
  --colorHover: #1f2024;
  --color-bleak: #7a7374;
  --bac: #ffffff;
  --bac-bleak: rgba(255, 255, 255, 0.5);
}
html.dark {
  --color: #dad4cb;
  --colorHover: rgba(122, 115, 116, 0.9);
  --color-bleak: rgba(218, 212, 203, 0.6);
  --bac: #1f2024;
  --bac-bleak: rgba(31, 32, 36, 0.5);
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
/*容器*/
.container {
  margin: 10px auto 0;
}
.hover-border-bottom {
  border-bottom: rgba(69, 159, 251, 0) 1px solid;
  transition: 0.3s;
}
.hover-border-bottom:hover {
  border-bottom: var(--color) 1px solid;
}
.fillCommon {
  position: relative;
  border: var(--color) 1px solid;
  color: var(--color);
}
.fillCommon:before {
  content: '';
  display: flex;
  position: absolute;
  border-radius: 0.3rem;
  transition: 0.3s;
  background: var(--color);
  z-index: -1;
  opacity: 0;
}
.fillCommon:hover {
  border: rgba(45, 46, 54, 0) 1px solid;
  background: transparent;
  box-shadow: none;
  right: inherit;
  top: inherit;
}
.fillCommon:hover:before {
  opacity: 1;
}
.fill {
  position: relative;
  border: var(--color) 1px solid;
  color: var(--color);
}
.fill:before {
  content: '';
  display: flex;
  position: absolute;
  border-radius: 0.3rem;
  transition: 0.3s;
  background: var(--color);
  z-index: -1;
  opacity: 0;
}
.fill:hover {
  border: rgba(45, 46, 54, 0) 1px solid;
  background: transparent;
  box-shadow: none;
  right: inherit;
  top: inherit;
}
.fill:hover:before {
  opacity: 1;
}
.fill:before {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
}
.fill:hover {
  color: #ffffff !important;
}
.fill:hover:before {
  width: 100%;
  opacity: 1;
}
.fill-l {
  position: relative;
  border: var(--color) 1px solid;
  color: var(--color);
}
.fill-l:before {
  content: '';
  display: flex;
  position: absolute;
  border-radius: 0.3rem;
  transition: 0.3s;
  background: var(--color);
  z-index: -1;
  opacity: 0;
}
.fill-l:hover {
  border: rgba(45, 46, 54, 0) 1px solid;
  background: transparent;
  box-shadow: none;
  right: inherit;
  top: inherit;
}
.fill-l:hover:before {
  opacity: 1;
}
.fill-l:before {
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
}
.fill-l:hover {
  color: #ffffff !important;
}
.fill-l:hover:before {
  width: 100%;
  opacity: 1;
}
.colors .btm {
  max-width: 150px;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.3rem;
  margin: 0.3rem;
  user-select: none;
}
html.light {
  background-color: var(--bac);
}
html.light div.pre-code {
  border-radius: 0.3rem;
}
html.light pre {
  background-color: rgba(0, 0, 0, 0.03);
}
html.dark {
  background-color: var(--bac);
}
html.dark div.pre-code {
  border-radius: 0.3rem;
}
html.dark pre {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
div.pre-code {
  padding: 0.3rem;
  font-size: 0.65rem;
}
h4,
p {
  font-weight: 650;
}
.noselect {
  user-select: none;
}
.btn-time-s {
  transition: 0.5s;
}
html {
  font-size: 20px;
}
h4 {
  margin-top: 0.1rem;
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
  color: var(--color);
}
p {
  font-size: 1rem;
  color: var(--color);
  margin: 0.3rem;
}
.ice-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.1rem;
}
.ice-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.1rem;
}
.item-row {
  display: flex;
  flex-direction: row;
  margin: 0.1rem;
}
.item-column {
  display: flex;
  flex-direction: column;
  margin: 0.1rem;
}
.border-normal {
  border: rgba(45, 46, 54, 0.1) 1px solid;
  border-radius: 0.2em;
  padding: 0.3rem;
}
.hoverTest {
  background-color: antiquewhite;
  transition: 0.5s;
}
.hoverTest:hover {
  background-color: aquamarine;
}
.border-t {
  border-top: var(--color) 1px solid;
}
.border-b {
  border-bottom: var(--color) 1px solid;
}
.border-l {
  border-left: var(--color) 1px solid;
}
.border-r {
  border-right: var(--color) 1px solid;
}
.radio-none {
  border-radius: 0;
}
.radio-s {
  border-radius: 0.3rem;
}
.radio-m {
  border-radius: 0.5rem;
}
.radio-l {
  border-radius: 0.8rem;
}
.round {
  border-radius: 50%;
}
.w100percent {
  width: 100%;
}
.w9percent {
  width: 9%;
}
.w10percent {
  width: 10%;
}
.w15percent {
  width: 15%;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
}
.flexFull {
  flex: 1;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.image-n {
  display: flex;
  width: 5rem;
  height: 5rem;
}
.image-s {
  display: flex;
  width: 3rem;
  height: 3rem;
}
.p-small {
  padding: 0.1rem;
}
.p-normal {
  padding: 0.3rem;
}
.p-large {
  padding: 0.4rem;
}
.p-bottom-n {
  padding-bottom: 0.3rem;
}
.p-bottom-l {
  padding-bottom: 0.4rem;
}
.m-top-s {
  margin-top: 0.1rem;
}
.m-top-n {
  margin-top: 0.3rem;
}
.m-bottom-s {
  margin-bottom: 0.1rem;
}
.m-bottom-n {
  margin-bottom: 0.3rem;
}
.m-bottom-l {
  margin-bottom: 0.7rem;
}
.margin-lr-s {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
.margin-lr-n {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}
.margin-lr-l {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}
.list-row {
  display: flex;
  flex-direction: row;
}
.list-row .list-item {
  display: flex;
  flex-direction: row;
  padding: 0.3rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  width: 100%;
}
.text-nowrap {
  white-space: nowrap;
}
.ice-message-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 10px;
  top: 10px;
}
.activeLink {
  color: #a7535a !important;
}
.showDrawer #app {
  filter: blur(0.5rem);
}
.pointer:hover {
  cursor: pointer !important;
}
.noBackground {
  background: none;
}
.noborder {
  border: none;
}
.container {
  margin: 0 auto;
}
.wideContainer {
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .wideContainer {
    max-width: 95vw;
  }
  .container {
    max-width: 95vw;
  }
}
@media (min-width: 1200px) {
  .wideContainer {
    max-width: 70vw;
  }
  .container {
    max-width: 70vw;
  }
}
.scrollStyle::-webkit-scrollbar {
  height: 20px;
  width: 5px;
  background: var(--bac);
}
.scrollStyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--color);
}
.space-between {
  justify-content: space-between;
}
.justCenter {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.fit-content {
  width: fit-content;
}
@media (min-width: 1200px) {
  .hidden-s {
    display: none;
  }
}
@media (max-width: 900px) {
  .hidden-xs {
    display: none;
  }
}
.finger {
  cursor: pointer;
}
.m0 {
  margin: 0 !important;
}
.p0 {
  padding: 0 !important;
}
@media (min-width: 200px) {
  .min-limted .min-width-xs {
    min-width: 300px;
  }
  .min-limted .min-height-xs {
    min-height: 300px;
  }
}
